.div-combo9 {
  max-width: 100%;
}
.custom-table-tbpt {
  .ant-table-scroll {
    overflow: hidden;
    overflow-x: auto !important;
    .ant-table-header {
      overflow: initial !important;
      margin-bottom: 0 !important;
    }
    .ant-table-body {
      overflow: unset !important;
      max-height: none !important;
    }
    .ant-table-footer {
      position: inherit !important;
      .ant-table-footer-fixed {
        text-align: center;
        position: absolute;
        right: 0;
        width: 112px;
        box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
        background: #fff;
      }
    }
  }
  .ant-table-fixed-right {
    .ant-table-body-outer {
      .ant-table-body-inner {
        overflow: unset !important;
        max-height: none !important;
      }
    }
  }
}

.ant-add-footer {
  .ant-table-tbody {
    > tr {
      > td {
        padding: 16px 6px;
        overflow-wrap: break-word;
      }
    }
  }
}
.sty-selcect {
  margin-bottom: 0;
  padding-bottom: 0 !important;
  // .ant-select-selection{
  //     min-width: 140px;
  // }
}
// .sty-input8{
//     padding-right: 15px;
//     margin-left: 10px;
// }
// .sty-input9{
//     margin-left: 11px;
//     margin-right: 11px;
// }
.style-input10 {
  display: flex;
  justify-content: flex-end;
  .ant-form-item {
    padding-right: 12px;
  }
}
.style-cachbang {
  margin-top: 10px;
}
