.div-combo9{
    max-width: 100%;
}
.sty-selcect{
    .ant-select-selection{
        min-width: 140px;
    }
}
// .sty-input8{
//     padding-right: 15px;
//     margin-left: 10px;
// }
// .sty-input9{
//     margin-left: 11px;
//     margin-right: 11px;
// }
.style-input10{
    display: flex;
    justify-content: flex-end;
    .ant-form-item{
        padding-right: 12px;
    }

}
.style-cachbang{
    margin-top: 10px;
}