input[type="checkbox"]{
    width: 20px;
    height: 23px;
}
.change-status {
    .ant-modal-content {
        .ant-modal-header {
            text-align: center;
            .ant-modal-title {
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .ant-modal-body {
            .detail {
                padding: 8px 0px;
                color: #000;
                .title {
                    font-weight: bold;
                }
                .ant-select {
                    width: 100%;
                }
            }
        }
    }
}